:root{
    --a: 0;
    --b: 67%;
}

.header {
    height: 78px;
    background-color: white;
    display: flex;
    align-items: center;
}

.playlist {
    padding: 15px;
    background-color: #121212;
}

.cardContainer {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    max-height: 80vh;
    overflow-y: auto;
}

.card {
    border-radius: 10px;
    background-color: #282727be;
    width: 220px;
    padding: 15px;
    position: relative;
    transition: .9s;
}

.card:hover{
    background-color:#616060be ;
    cursor: pointer;
    --a : 1;
    --b : 50%;
}

.card h2,
.card p {
    margin-top: 5px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.playBut {
    opacity: var(--a);
    position: absolute;
    top: var(--b);
    right: 8%;
    display: flex;
    justify-content: center;
    background-color: #be1212;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    transition: .7s;
}

.playBut:active{
    transition: .1s;
    background-color: #ea0d0d;
}

.right {
    position: relative;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 8px;
    width: calc(100vw - 460px);
    background-color: #be1212;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}

.forwardbt,
.backwardbt,
.playbt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #121212;
    border-radius: 50%;
    padding: 10px;
}

.forwardbt img,
.backwardbt img {
    width: 20px;
}

.playbt img {
    width: 15px;
}

.forwardbt:hover,
.backwardbt:hover,
.playbt:hover {
    background-color: #383636;
    cursor: pointer;
}

.songsbt {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 45%;
}

.playbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}

.songtime,
.songsinfo {
    font-size: small;
    display: flex;
    align-items: center;
    margin: 4px;
    position: absolute;
}

.seekbar {
    height: 4px;
    border-radius: 10px;
    width: 99%;
    left: 5px;
    top: 56px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    left: 0%;
    bottom: -6px;
    transition: left 0.5s;
    cursor: pointer;
}

.seekbar {
    height: 4px;
    border-radius: 10px;
    width: 99%;
    left: 5px;
    top: 56px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}

.songsinfo {
    left: 15px;
    top: 15px;
    width: 280px;
    white-space: nowrap;
}

.songtime {
    right: 145px;
    top: 15px;
    outline: none;
    border: none
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.range {
    width: 80px;
    color: white;
}